<div class="container text-center">
    <h1>About Page</h1>  
    <p>We are Devmatch. Our company focuses
    on creating an exclusive community
    for developers and entrepreneurs to meet
    and collaborate.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, saepe, totam odit praesentium molestiae cumque deleniti facere quae exercitationem minus. Mollitia, nobis unde. Fuga, vel adipisci nam distinctio deserunt eos.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione, fuga, asperiores, aut assumenda repellendus odio autem explicabo excepturi molestias quia ipsa accusamus quae ullam aspernatur hic incidunt error a possimus.</p>
</div>